.ky-home-footer ul>li>a {
    padding-left: 0;
}

.header-pod {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-pod {
    padding-top: 72px;
    padding-bottom: 72px;
}

.feature {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.bg-footer {
    background-color: rgb(230, 230, 230);
}

.back-to-top {
	display: block;
	position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(230, 126, 34, 0.6);
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
}

.back-to-top span {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
