<main class="bg-info">
    <div class="container container-pod text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>用于测试的例子标题</h1>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p>这里是一些描述
                    <br> 如果你的网站基于Bootstrap构建、并且用心的设计，那就提交到 youzhan@bootcss.com 在这里展示吧!
                    <br>请注明“Bootstrap网站作品提交 -- 你的网址”</p>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <a href="#" class="btn btn-primary btn-lg">体验按钮</a>
            </div>
        </div>
    </div>
</main>
<!-- main -->
<div class="feature">
    <div class="container container-pod text-center">
        <h2>为所有开发者、所有应用场景而设计。</h2>
        <p>让前端开发更快速、简单。所有开发者都能快速上手、所有设备都可以适配、所有项目都适用。</p>
        <hr class="half-rule">
        <div class="row">
            <div class="col-sm-3">
                <h3>详细1</h3>
                <p>专为各类学校和培训机构提供考试系统，包括自测练习、组织统一考试、开展知识竞赛、布置课外作业或假期作业、</p>
            </div>
            <div class="col-sm-3">
                <h3>详细2</h3>
                <p>专为各类学校和培训机构提供考试系统，包括自测练习、组织统一考试、开展知识竞赛、布置课外作业或假期作业</p>
            </div>
            <div class="col-sm-3">
                <h3>详细3</h3>
                <p>企事业单位内部的入职考试、员工考核、内部培训考试等。「考试酷」是一个零安装、零维护和零成本的在线考试系统。</p>
            </div>
            <div class="col-sm-3">
                <h3>详细4</h3>
                <p>组织招聘笔试、入职考试、月度考核、绩效考核等员工考核工作；开展内部员工培训考试、业务员考试、操作工考试等。</p>
            </div>
        </div>
        <hr class="half-rule">
        <p>它的代码托管、开发、维护都依赖 GitHub 平台。</p>
        <a href="#" class="btn btn-default btn-lg">查看GitHub主页</a>
    </div>
</div>
<div class="feature">
    <div class="container container-pod text-center">
        <h2>基于 Bootstrap 构建的网站</h2>
        <p>全球数以百万计的网站都是基于 Bootstrap 构建的。你可以先参观一下我们提供的实例精选或者看一看我们粉丝的网站吧。</p>
        <hr class="half-rule">
        <div class="row">
            <div class="col-sm-3">
                <h3>详细1</h3>
                <p>实时保存答题记录，不用担心重启、崩溃等现象。</p>
            </div>
            <div class="col-sm-3">
                <h3>详细2</h3>
                <p>交卷后立即出分，主观题还可人工阅卷后打分。</p>
            </div>
            <div class="col-sm-3">
                <h3>详细3</h3>
                <p>图表展现错题率、各分数段统计、多部门对比、、多人多次考试对比。</p>
            </div>
            <div class="col-sm-3">
                <h3>详细4</h3>
                <p>可无缝嵌入微信号，自定义界面LOGO，保持体验统一。</p>
            </div>
        </div>
        <hr class="half-rule">
        <p>以满足不同场景下的考试需求</p>
        <a href="#" class="btn btn-default btn-lg">公共题库</a>
    </div>
</div>
<!-- feature -->
<footer class="ky-home-footer">
    <div class="container-fluid bg-footer container-pod">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <h4>功能</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">考试</a></li>
                            <li><a href="#">培训</a></li>
                            <li><a href="#">分析</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h4>产品</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Product</a></li>
                            <li><a href="#">下载</a></li>
                            <li><a href="#">学习</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h4>资源</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="www.github.com">GitHub</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Communcity</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <h4>联系</h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="www.github.com">FaceBook</a></li>
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Weibo</a></li>
                        </ul>
                    </div>
                </div>
                <!-- ul 形式实现的导航 -->
                <!-- <ul class="nav nav-pills nav-justified">
    <li>
        <h4>功能</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">考试</a></li>
            <li><a href="#">培训</a></li>
            <li><a href="#">分析</a></li>
        </ul>
    </li>
    <li>
        <h4>产品</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Product</a></li>
            <li><a href="#">下载</a></li>
            <li><a href="#">学习</a></li>
        </ul>
    </li>
    <li>
        <h4>资源</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="www.github.com">GitHub</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Communcity</a></li>
        </ul>
    </li>
    <li>
        <h4>联系</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="www.github.com">FaceBook</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Weibo</a></li>
        </ul>
				    </li>
				</ul>
				 -->
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary container-pod">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="text-center">© 2015。 Please send any comments to me , haha like you !!!</p>
            </div>
        </div>
    </div>
</footer>